<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mahyco.cmr_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.mahyco.isp.core.MainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_short"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.CMR_App"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".view.report.TravelReportActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.MyTravelActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.GrowerIssueActivity" />
        <activity android:name=".view.upload.BEVOGUploadActivity" />
        <activity android:name=".view.upload.MyTravelUploadActivity" />
        <activity android:name=".view.upload.InsuranceUploadActivity" />
        <activity android:name=".view.upload.TagDataUploadActivity" />
        <activity android:name=".view.upload.CMRDataUploadActivity" />
        <activity android:name=".view.UploadSyncActivity" />
        <activity android:name=".view.DataUploadSyncActivity" />
        <activity android:name=".view.VOCTActivity" />
        <activity android:name=".view.BeVoiceOfGrowerActivity" />
        <activity android:name=".view.GrowerInfoActivity" />
        <activity android:name=".view.CMRUpdateActivity" />
        <activity android:name=".view.CMRValidationActivity" />
        <activity android:name=".view.CMREntryActivity" />
        <activity android:name=".view.FieldAreaTagActivity" />
        <activity android:name=".view.DownloadCMRDataActivity" />
        <activity android:name=".view.DownloadActivity" />
        <activity
            android:name=".view.DCESignActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".view.DigitalContractActivity"
            android:exported="false" />
        <activity
            android:name=".view.DCVendorFormActivity"
            android:exported="false" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.RegisterActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".core.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".view.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
  //          android:authorities="com.mahyco.cmr_app.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
        -->
        <provider
            android:name="com.vansuita.pickimage.provider.PickImageFileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
    </application>

</manifest>